<% layout('layouts/boilerplate') %>
<body>
    <br>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <% for(let listing of allListings){ %>
            <div class="card">
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.title %> image" style="height: 20rem;"/>
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %></b> <br>
                            <span>&#8377;</span> <%= listing.price %>/night
                        </p>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
</body>
</html>

